# Symfony directories
*/logs/*
*/cache/*
web/uploads/*
web/.htaccess
/vendor/
/components/

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
app/bootstrap.php.cache

# PHPStorm
.idea*

