{% extends "::base.html.twig" %}

{% block content %}

    <div class="jumbotron">
        <h1>
            Benvenuto!
        </h1>

        <p>
            This is a template for a simple marketing or informational website. It includes a large callout
            called the hero unit and three supporting pieces of content. Use it as a starting point to
            create
            something more unique.
        </p>

        <p>
            <a class="btn btn-primary btn-large" href="{{ path('datasets') }}">Cerca tra i dataset »</a>
        </p>
    </div>


    <div class="row">
        <div class="col-md-4">
            <h2>
                Il progetto
            </h2>

            <p>
                Lorem ipsum elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                mauris
                condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
                euismod. Donec sed odio dui.
            </p>

            <p>
                <a class="btn btn-default" href="#">View details »</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>
                I dataset
            </h2>

            <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                mauris
                condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
                euismod. Donec sed odio dui.
            </p>

            <p>
                <a class="btn btn-default" href="#">View details »</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>
                Le applicazioni
            </h2>

            <p>
                Lorem ipsum non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                mauris
                condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
                euismod. Donec sed odio dui.
            </p>

            <p>
                <a class="btn btn-default" href="#">View details »</a>
            </p>
        </div>
    </div>
{% endblock %}
