{{ form_start(form,{ 'attr': {'class': 'navbar-form navbar-right' }} ) }}
<div class="input-group">
    {{ form_widget(form.keywords, { 'style': 'inline' }) }}
    <span class="input-group-btn">
        {{ form_widget(form.cerca) }}
    </span>
</div>
{{ form_end(form) }}