/* Sticky footer styles
        -------------------------------------------------- */
/* line 5, assetic_compassaWGlUd.scss */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
/* line 11, assetic_compassaWGlUd.scss */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
/* line 21, assetic_compassaWGlUd.scss */
#push,
#footer {
  height: 60px;
}

/* line 25, assetic_compassaWGlUd.scss */
#footer {
  background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  /* line 31, assetic_compassaWGlUd.scss */
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
/* line 39, assetic_compassaWGlUd.scss */
#wrap > .container {
  padding-top: 60px;
}

/* line 43, assetic_compassaWGlUd.scss */
.container .credit {
  margin: 20px 0;
}

/* line 47, assetic_compassaWGlUd.scss */
code {
  font-size: 80%;
}
