/* Dataset */
#results {
  margin-top: 20px; }

#butterbar {
  position: absolute;
  right: 0;
  top: 0; }

/* Sticky footer styles */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */ }

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
  padding: 0 0 60px; }

#footer {
  height: 60px;
  background-color: #f5f5f5; }

#wrap > .container {
  padding: 80px 15px 0; }

.container .credit {
  margin: 20px 0; }

#footer > .container {
  padding-left: 15px;
  padding-right: 15px; }

code {
  font-size: 80%; }
