<div class="row">
    <div class="col-lg-4">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Parole chiave" ng-model="keywords"/>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="search()">Cerca</button>
            </span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <ul id="results">
            <li ng-repeat="result in results"><a href="dataset#/view/{{result.id}}">{{result.title}}</a></li>
        </ul>

        <p ng-hide="results.length">Nessun risultato</p>
    </div>
</div>
