{% extends "::base.html.twig" %}

{% block title %}List | {{ parent() }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="span12">
            <ul>
                <li>...</li>
                <li>...</li>
                <li>...</li>
                <li>...</li>
            </ul>
        </div>
    </div>
{% endblock %}
