{% extends "::base.html.twig" %}

{% block content %}
    <div class="row">
        <div class="span12">
            {{ form(form) }}

            <ul>
                {% for result in results %}
                    <li><a href="{{ path('detail', {'dataset': result.id}) }}">{{ result.title }}</a></li>
                {% endfor %}
            </ul>

        </div>
    </div>
{% endblock %}
